<div class="container-fluid padding_top background">
  <div class="col-xs-3">
    <app-navbar></app-navbar>
  </div>
  <div class="col-xs-6 ">
    <div class="row">
      <app-editpost></app-editpost>
    </div>
    <div class="row padding_top">
      <app-post></app-post>
    </div>
  </div>
  <div class="col-xs-2">
    <app-pub></app-pub>
  </div>
</div>
