<div class="nav_disposition">
  <ul class="nav flex-column">
    <div class="margin_bottom_nav">
      <li class="nav-item">
        <img src="https://zupimages.net/up/19/42/6p6j.png">
      </li>
    </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="/homepage">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profil">Profil</a>
      </li>
  </ul>
</div>
