.padding_left
{
  padding-left: 10%;
}
.nav_disposition
{
  font-size: 2em;
  text-align: center;
}
.img_size
{
  width: 50px;
}
.margin_bottom_nav
{
  padding-bottom: 30px;
}
a
{
  color: #37b475;
}
