<div class="container-fluid padding_top">
  <div class="col-xs-3">
    <app-navbar></app-navbar>
  </div>
  <div class="col-xs-5 ">
    <div class="row">
      <app-profil></app-profil>
    </div>
  </div>
  <div class="col-xs-3  offset-md-1">
    <app-pub></app-pub>
  </div>
</div>
