<div class="row">
  <div class="col-xs-12">
    <div *ngFor="let post of posts">
      <div class="contour_post padding_top">
        <div class="posts">
          <div class="green_color">
            <h4><span class="glyphicon glyphicon-user"></span>  {{ post.name }}</h4>
          </div>
          <hr class="my-4">
          <h4>{{ post.content }}</h4>
          <div class="padding_top">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>
              <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-down"></span>
              </button>

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">
                  Comment
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
