.edit_post
{
  margin: 20px;
}
.contour_post
{
  border : solid grey 2px;
  background-color: white;
  border-radius: 10px;
}
.send_button
{
  text-align: right;
}
.margin_top
{
  margin-top: 10px;
}
